@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#app{
    width: 700px;
    padding: 50px 10px;
}

.title{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}

.todo-main{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .todo-input{
        width: 79%;
        height: 100%;
        border-radius: 5px;
        border: 1px solid #909090;
        padding: 0 15px;
        outline: none;
        font-size: 18px;
    }

    .todo-btn{
        width: 20%;
        height: 100%;
        outline: none;
        border: 1px solid #3498db;
        background-color: #3498db;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: 0.3s ease;
    }

    .todo-btn:hover{
        background-color: #fff;
        border: 1px solid #3498db;
        color: #3498db;
    }
}

.todo-items{
    width: 100%;
    margin-top: 20px;

    .item{
        width: 100%;
        list-style: none;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        border-bottom: 1px solid #909090;
        padding-bottom: 20px;

        .info{

            .item-id{
                margin-right: 30px;
                width: 10px;
            }
        }

        .edit{
            button{
                width: 100px;
                height: 25px;
                outline: none;
                color: #fff;
                cursor: pointer;
                font-size: 14px;
                transition: 0.3s ease;
            }

            .item-edit{
                background-color: #3498db;
                border: 1px solid #3498db;
                border-radius: 5px;
            }

            .item-edit:hover{
                background-color: #fff;
                color: #3498db;
                border: 1px solid #3498db;
            }

            .item-del   {
                background-color: #e74c3c;
                border: 1px solid #e74c3c;
                border-radius: 5px;
                margin-left: 10px;
            }

            .item-del:hover{
                background-color: #fff;
                color: #e74c3c;
                border: 1px solid #e74c3c;
            }
        }
    }
}  

